<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="Описание вашего сайта">
  <meta name="keywords" content="ключевые, слова, вашего, сайта">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <link href="{% static 'css/user/registration.css' %}" rel="stylesheet">
  <link href="{% static 'css/menu/style.css' %}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h2 class="form-header">Форма регистрации</h2>
      <form method="POST" action="{% url 'RecipeHub:registration' %}">
        {% csrf_token %}
        <div class="form-group">
          {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %} 
              {% if field.errors %}
                <div class="invalid-feedback">
                  {% for error in field.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
      </form>
      <div class="text-center">
        <p>Уже зарегистрированы? <a href="{% url 'RecipeHub:authorization' %}">Войти</a></p>
      </div>
    </div>
  </div>

  <!-- Дополнительный JavaScript для обработки прокрутки -->
  <script>
    window.addEventListener('load', function() {
      // Прокручиваем страницу до начала контейнера формы, если необходимо
      window.scrollTo(0, document.querySelector('.container').offsetTop);
    });
  </script>
</body>
</html>
