<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="Описание вашего сайта">
  <meta name="keywords" content="ключевые, слова, вашего, сайта">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <link href="{% static 'css/menu/reviews.css' %}" rel="stylesheet">
  <link href="{% static 'css/menu/style.css' %}" rel="stylesheet">
</head>
<body class="index-page">
  <div class="background-image">
    <img src="{% static 'img/1.jpg' %}" alt="Фон" class="background-image"> 
</div>
  <a href="{% url 'RecipeHub:main_template' %}" class="back-button">Вернуться назад</a>

  <main class="main">
    <h1 class="title">Отзывы</h1>
    <a class="btn btn-add-recipe" href="{% static 'add_review' %}">Добавить отзыв</a>

    <!-- Контейнер для отзывов -->
    <div class="reviews-container">
      {% for review in reviews %}
        <article class="reviews">
          <h1>{{ review.recipe.name }}</h1>
          <div> 
            <h2 class="text-left"> 
              Автор: <span class="author"> {{ review.author }} </span>
            </h2>
          </div>
          <div> 
            <h3 class="text-left"> 
              Оценка: <span class="author"> {{ review.grade }} </span>
            </h3>
          </div>
          <h4>Комментарии:</h4>
          <ul>
            {% for comment in review.comments.splitlines %}
              <li>{{ comment }}</li>
            {% endfor %}
          </ul>
        </article>
      {% endfor %}
    </div>


    <div class="pagination">
      <span class="step-links">
        {% if reviews.has_previous %}
          <a href="?review=1">&laquo; Первая страница</a>
          <a href="?review={{ reviews.previous_page_number }}">Предыдущая страница</a>
        {% endif %}

        <span class="current">
        </span>

        {% if reviews.has_next %}
          <a href="?review={{ reviews.next_page_number }}">Следующая страница</a>
          <a href="?review={{ reviews.paginator.num_pages }}">Последняя страница &raquo;</a>
        {% endif %}
      </span>
    </div>
  </main>

  <script>
    function goBack() {
      if (window.history.length > 1) {
        window.history.back();
      } else {
        window.location.href = '/';
      }
    }
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Проверяем, есть ли элементы с классом .reviews
        const reviews = document.querySelectorAll('.reviews');
        
        // Если отзывов нет, добавляем класс no-reviews на body
        if (reviews.length === 0) {
            document.body.classList.add('no-reviews');
        } else {
            document.body.classList.remove('no-reviews');
        }
    });
</script>

  <div class="logo-bar">
    <div class="left-section">
      <a href="{% url 'RecipeHub:main_template' %}">
        <img src="{% static 'img/logo.png' %}" alt="Логотип">
    </a>
      <a href="{% url 'RecipeHub:contacts' %}" class="team-contact">Связь с командой</a>
      <a href="https://t.me/yourbot" target="_blank" class="team-contact">Напишите нам в Telegram</a>
    </div>
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank">
        <img src="{% static 'img/facebook.svg' %}" alt="Facebook">
      </a>
      <a href="https://instagram.com" target="_blank">
        <img src="{% static 'img/instagram.svg' %}" alt="Instagram">
      </a>
      <a href="https://vk.com" target="_blank">
        <img src="{% static 'img/VK.svg' %}" alt="ВКонтакте">
      </a>
    </div>
  </div>
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
