asgiref==3.8.1
autopep8==2.3.1
distlib==0.3.9
Django==5.1.2
django-braces==1.16.0
django-model-utils==5.0.0
filelock==3.16.1
flake8==7.1.1
mccabe==0.7.0
pillow==11.0.0
platformdirs==4.3.6
pycodestyle==2.12.1
pyflakes==3.2.0
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
sqlparse==0.5.1
swapper==1.4.0
tzdata==2024.2
virtualenv==20.27.0
