.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    color: white;
    padding-top: 20px;
}

.sitename {
    font-family: 'Lora', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(245, 203, 167) !important;
    text-align: center; /* выравнивание текста по центру */
    margin: 20px auto; /* автоматические отступы для центрирования контейнера */
    line-height: 1.4;
    letter-spacing: 0.5px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    box-shadow: none;
    border-radius: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    max-width: 45%;
    width: fit-content; 
}


/* Кнопка возврата */
.btn {
    background-color: #ffffff;
    /* Белый фон */
    color: #000000;
    /* Черный текст */
    border: 2px solid #000000;
    /* Черная граница */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    /* Плавные переходы */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    /* Черный отсвет */
  }
  
  /* Эффект при наведении на кнопки */
  .btn:hover {
    transform: translateY(-5px);
    /* Двигаем кнопку вверх */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Легкий отсвет при наведении */
  }
  
  /* Стиль для кнопки "Посмотреть" (красная) */
  .btn-red {
    background-color: red;
    /* Красный фон */
    color: #ffffff;
    /* Белый текст */
    border-color: #dc3545;
    /* Красная граница */
  }
  
  .btn-red:hover {
    background-color: red;
    /* Темно-красный при наведении */
    border-color: red;
    /* Темно-красная граница при наведении */
    transform: translateY(-5px);
    /* Двигаем кнопку вверх */
  }
  
  /* Стиль для кнопки возврата */
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    /* Убираем подчеркивание */
    transition: transform 0.3s ease, color 0.3s ease;
    /* Плавный переход для цвета текста */
  }
  
  .back-button {
    text-decoration: none;
    /* Убираем подчеркивание */
  }
  
  .back-button:hover {
    text-decoration: none;
    /* Убираем подчеркивание при наведении */
  }
  
  /* Эффект при наведении на кнопку возврата */
  .back-button:hover {
    color: black;
    /* Текст становится черным при наведении */
    transform: translateY(-5px);
    /* Подпрыгивание */
  }

  .recipe-btn-wrapper {
    position: absolute;
    bottom: 10px; /* Отступ снизу, кнопка будет располагаться 20px от нижней границы */
    right: 20px; /* Отступ справа */
    border-radius: 10px; /* Закругление контейнера */
    overflow: hidden; /* Скрывает лишние части, если кнопка выходит за пределы контейнера */
}

.btn-view-recipe {
    display: inline-block;
    background-color: rgba(0, 191, 255, 0.8);
    color: black;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    margin-top: 100px; /* Увеличьте значение, чтобы кнопка была еще ниже */
}

  /* Эффект при наведении на кнопку */
  .btn-view-recipe:hover {
    background-color: rgba(0, 191, 255, 1);
    transform: translateY(-5px);
    color: black; /* Устанавливаем черный цвет текста при наведении */
    text-decoration: none;
  }
  
  /* Убираем подчеркивание при наведении, фокусе и активации */
  .btn-view-recipe:hover,
  .btn-view-recipe:focus,
  .btn-view-recipe:active {
    text-decoration: none;
  }
  
  
  /* Кнопка "Добавить рецепт" */
  .btn-add-recipe {
    background-color: #00BFFF;
    color: black;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .btn-add-recipe:hover {
    background-color: rgba(0, 191, 255, 0.8);
  }

.recipe-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.recipe h1 {
    font-size: 1.8em;
    color: #333;
}

.recipe h6 {
    color: #333;
}

.recipe ul,
.recipe ol {
    padding-left: 20px;
    list-style-type: none;
    margin-left: 0;
}

.recipe ul li,
.recipe ol li {
    font-size: 1em;
    color: #333;
}

.recipe-photo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.recipe p {
    color: #888;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
}

.pagination .step-links {
    display: flex;
    align-items: center;
}

.pagination a {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #0056b3;
}

.pagination .current {
    text-align: center;
    font-size: 1.2rem;
    color: black;
}

.pagination .step-links a:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.best-recipes-info {
    background-color: #f8f9fa;
    border: 2px solid #007bff;
    padding: 15px;
    margin: 1px auto 20px auto;
    max-width: 800px;
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    border-radius: 5px;
}

.best-recipes-info p {
    margin: 0;
    font-weight: bold;
}

.logo-bar {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.logo-bar .left-section {
    display: flex;
    align-items: center;
    gap: 35px;
}

.logo-bar img {
    width: 70px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.team-contact {
    font-size: 1.3rem;
    color: #808080;
    text-decoration: none;
    transition: color 0.3s ease;
}

.team-contact:hover {
    color: black;
}

.social-icons {
    display: flex;
    gap: 35px;
    align-items: center;
}

.social-icons a {
    display: inline-block;
}

.social-icons img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.social-icons img {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease-in-out, filter 0.3s ease;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.1);
    }
}
