

.sitename {
    color: #ffffff !important;
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
    /* Отступ сверху в 20 пикселей */
}

.btn-outline-secondary {
    color: #fff;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.btn-outline-secondary:hover {
    background-color: rgba(0, 0, 139, 0.75);
    border-color: rgba(0, 0, 139, 0.75);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Добавим отступ снизу для каждой категории */
.category-item {
    margin-bottom: 30px;
    /* отступ снизу для каждого элемента категории */
}

/* Можно добавить отступ снизу только для блока "По кухне мира" */
.category-item.kitchen-world {
    margin-bottom: 30px;
    /* только для "По кухне мира" */
}

.category-card {
    padding-bottom: 20px;
    /* Добавляем отступ снизу внутри карточки */
}

.category-card .btn {
    margin-top: 10px;
    /* Добавляем отступ сверху для кнопки */
}