.sitename {
    color: #ffffff !important; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  
  .categories-title {
    color: #ffffff !important;
  }
  
  .navmenu a {
    color: white;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background-color: black;
  }
  
  .navmenu li {
    margin: 5px;
    border-radius: 5px;
  }
  
  /* Убираем эффект подсветки розовым при наведении */
  .navmenu a:hover {
    background-color: #000; /* Черный фон при наведении */
    color: white; /* Белый цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
  }
  
  .image-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .image-container img {
    max-width: 100%; 
    height: auto;
    max-height: 400px; 
  }
  
  .navmenu ul {
    list-style: none; 
    padding: 0;
    margin: 0; 
  }
  
  /* Центрируем блок "О сайте" */
  .about-site {
    background-color: rgba(255, 255, 255, 0.8); /* Белый с прозрачностью */
    padding: 30px;
    max-width: 900px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    border: 2px solid #000; /* Черная рамка вокруг блока */
  }
  
  .about-site h2 {
    margin-bottom: 10px;
    color: #000; /* Темный цвет для заголовка */
  }
  
  .about-site p {
    color: black !important; /* Заменить на чисто черный цвет */
    line-height: 1.6;
    font-size: 18px;
    text-align: justify;
  }
  
  /* Стиль для правого выравнивания авторского текста */
  .author-text {
    text-align: right; /* Выравнивание текста по правому краю */
    margin-right: 30px; /* Добавляем небольшой отступ от правого края */
    font-style: italic; /* Добавлен курсив */
    color: #555; /* Темно-серый цвет для текста */
  }
  
  .logo-bar {
    background-color: #ffffff;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Распределяем элементы по краям */
    align-items: center;
    padding-left: 20px; /* Отступ от левого края */
    padding-right: 50px; /* Отступ от правого края */
  }
  
  
  .logo-bar .left-section {
    display: flex;
    align-items: center;
    gap: 35px; /* Расстояние между логотипом и текстом */
  }
  
  .logo-bar img {
    width: 70px; /* Размер логотипа */
    height: auto;
    transition: transform 0.3s ease-in-out; /* Плавное увеличение при наведении */
  }
  
  .team-contact {
    font-size: 1.3rem; /* Размер текста */
    color: #808080; /* Серый цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s ease; /* Плавное изменение цвета */
  }
  
  .team-contact:hover {
    color: black; /* Черный цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
  }
  
  .social-icons {
    display: flex; /* Иконки будут располагаться в строку */
    gap: 35px; /* Промежуток между иконками */
    align-items: center; /* Вертикальное выравнивание иконок */
  }
  
  .social-icons a {
    display: inline-block;
  }
  
  .social-icons img:hover {
    transform: scale(1.2); /* Увеличиваем логотип при наведении */
    filter: brightness(1.2); /* Немного ярче логотип */
  }
  
  .social-icons img {
    width: 30px; /* Исходный размер логотипов */
    height: auto;
    transition: transform 0.3s ease-in-out, filter 0.3s ease; /* Плавное увеличение и изменение фильтра */
    cursor: pointer; /* Указывает, что логотип можно кликнуть */
  }
  
  .social-icons img[src*="facebook"] {
    width: 30px; /* Уменьшаем логотип Facebook */
  }
  
  .social-icons img[src*="instagram"] {
    width: 30px; /* Уменьшаем логотип Instagram */
  }
  
  .social-icons img[src*="VK"] {
    width: 30px; /* Уменьшаем логотип ВКонтакте */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1.1); /* Начальный размер */
    }
    50% {
      transform: scale(1.3); /* Максимальное увеличение */
    }
    100% {
      transform: scale(1.1); /* Возвращаемся к исходному размеру */
    }
  }
  