{% load static %}
{% block contact %}
<link href="{% static 'css/line/contacts.css' %}" rel="stylesheet">  

<div class="modal" id="contactModal">
  <div class="modal-content">
    <span class="close" id="closeContactModal">&times;</span>
    <section class="contact-form-section">
      <div class="container d-flex justify-content-center">
        <div class="contact-form-container">
          <h2>Связаться с разработчиком</h2>
          <p>Оставьте ваше сообщение или контактные данные, и я свяжусь с вами.</p>
          <form action="#" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Ваше имя" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Ваш email" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="4" placeholder="Ваше сообщение" required></textarea>
            </div>
            <button type="submit">Отправить сообщение</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>


<script src="{% static 'javascript/contact-modal.js' %}"></script>
{% endblock  %}