<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="Описание вашего сайта">
  <meta name="keywords" content="ключевые, слова, вашего, сайта">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <style>
    body.index-page {
      background-image: url("{% static 'img/1.jpg' %}");
      background-color: rgba(0, 0, 0, 0.5);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      font-family: var(--default-font);
    }

    .sitename {
      color: #ffffff !important; 
    
    .categories-title {
      color: #ffffff !important;
    }
  </style>
</head>

<body class="index-page">
<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container d-flex flex-column align-items-center">
    <a href="index.html" class="logo">
      <h1 class="sitename">Платформа обмена рецептами</h1>
    </a>
    <nav id="navmenu" class="navmenu">
      <ul class="d-flex flex-wrap justify-content-center">
        <li class="mx-3"><a href="#home" class="active">Главная</a></li>
        <li class="mx-3"><a href="#recipes">Рецепты</a></li>
        <li class="mx-3"><a href="#popular">Популярные рецепты</a></li>
        <li class="mx-3"><a href="{% url 'RecipeHub:categories' %}">Категории</a></li>
        <li class="mx-3"><a href="#about">О нас</a></li>
        <li class="mx-3"><a href="#community">Отзывы</a></li>
        <li class="mx-3"><a href="#contact">Контакты</a></li>
      </ul>
    </nav>
    <a class="btn btn-primary" href="#add-recipe">Добавить рецепт</a>
  </div>
</header>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% block content %}
{% endblock %}
</body>

</html>
