<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="Описание вашего сайта">
  <meta name="keywords" content="ключевые, слова, вашего, сайта">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <link href="{% static 'css/menu/index.css' %}" rel="stylesheet">
  <link href="{% static 'css/menu/style.css' %}" rel="stylesheet">  
</head>

<body class="index-page">
  <img src="{% static 'img/1.jpg' %}" alt="Фон" class="background-image">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container d-flex flex-column align-items-center">
      <h1 class="sitename fade-in-up">Платформа обмена рецептами</h1>
      <nav id="navmenu" class="navmenu fade-in">
        <ul class="d-flex flex-wrap justify-content-center">
          <li class="mx-3"><a href="{% url 'RecipeHub:profile' %}">Мой профиль</a></li>
          <li class="mx-3"><a href="{% url 'RecipeHub:recipes' %}">Рецепты</a></li>
          <li class="mx-3"><a href="{% url 'RecipeHub:categories' %}">Категории</a></li>
          <li class="mx-3"><a href="{% url 'RecipeHub:best_recipes' %}">Лучшие рецепты</a></li>
          <li class="mx-3"><a href="{% url 'RecipeHub:reviews' %}">Отзывы</a></li>
        </ul>
      </nav>
      <div class="image-container fade-in"></div>
    </div>
  </header>

  <section class="about-site fade-in">
    <div class="container">
      <h2>О сайте</h2>
      <p class="author-text fade-in">Автор сайта: Новик Андрей Иванович</p>
      <p class="fade-in">
        Добро пожаловать на наш сайт, который предназначен для обмена рецептами и создания сообщества
        любителей кулинарии! Здесь вы можете найти рецепты на любой вкус, делиться своими собственными
        кулинарными творениями, а также узнать много нового о различных кухнях мира.
      </p>
      <p class="fade-in">
        Все рецепты проходят модерацию, и вы можете добавить свои собственные, чтобы поделиться с
        другими. Мы также регулярно обновляем коллекцию рецептов, чтобы каждый нашел что-то для себя.
        Благодарим вас за посещение и надеемся, что вы найдете здесь что-то вкусное и полезное!
      </p>
    </div>
  </section>

  <div>
    <button id="openModalBtn">Регистрация</button>

    <div class="modal" id="modal">
      <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <h2>Форма регистрации</h2>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
      </div>
    </div>

    {% block contact %}
    {% include "line/contact.html" %}
    {% endblock %}

    <div class="logo-bar">
      <div class="left-section">
        <a href="{% url 'RecipeHub:main_template' %}">
          <img src="{% static 'img/logo.png' %}" alt="Логотип">
        </a>

        <a href="#" id="openContactModal" class="team-contact">Связаться с командой</a>
        <a href="https://t.me/yourbot" target="_blank" class="team-contact">Напишите нам в Telegram</a>
      </div>
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank">
          <img src="{% static 'img/facebook.svg' %}" alt="Facebook">
        </a>
        <a href="https://instagram.com" target="_blank">
          <img src="{% static 'img/instagram.svg' %}" alt="Instagram">
        </a>
        <a href="https://vk.com" target="_blank">
          <img src="{% static 'img/VK.svg' %}" alt="ВКонтакте">
        </a>
      </div>
    </div>
  </div>




 
  <script src="{% static 'javascript/registarion-modal.js' %}"></script>
  <script src="{% static 'javascript/line.js' %}"></script>
  <script src="{% static 'javascript/script.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
