/* Стили для модального окна */
.modal {
  display: none; /* По умолчанию окно скрыто */
  position: fixed; /* Фиксированное позиционирование */
  z-index: 10000; /* Высокий индекс, чтобы окно было поверх остальных */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
  justify-content: center; /* Выравнивание по центру */
  align-items: center; /* Вертикальное и горизонтальное выравнивание */
}

/* Стили для контента модального окна */
.modal-content {
  background-color: #fefefe; /* Белый фон */
  padding: 40px;
  border: 1px solid #888; /* Серый бордер */
  width: 400px;
  max-width: 100%; /* Максимальная ширина 100% */
  min-height: 400px;
  border-radius: 10px; /* Округлённые углы */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Тень вокруг окна */
  position: relative;
}

/* Кнопка закрытия модального окна */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Контейнер для контактной формы */
.contact-form-container {
  background-color: white !important;
  border-radius: 50px !important;
  padding: 30px !important;
  margin-top: 10px !important;
  max-width: 800px !important;
  width: 100% !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
}

/* Стили для полей формы в контактной форме */
.contact-form-container input,
.contact-form-container textarea {
  width: 100% !important;
  padding: 12px !important;
  border-radius: 5px !important;
  border: 1px solid #ccc !important;
  font-size: 16px !important;
}

/* Стили для кнопки отправки */
.contact-form-container button {
  width: 100% !important;
  padding: 12px !important;
  border-radius: 5px !important;
  background-color: #ff69b4 !important;
  color: white !important;
  border: none !important;
  font-size: 16px !important;
  cursor: pointer !important;
}

.contact-form-container button:hover {
  background-color: #ff3385 !important;
}


.team-contact {
  font-size: 1.3rem;
  color: #808080;
  text-decoration: none;
  transition: color 0.3s ease;
}

.team-contact:hover {
  color: black;
}

.modal-content h2 {
  color: #000; 
  font-size: 30px; 
  font-weight: bold; 
  margin-bottom: 10px;/
}

.modal-content p {
  color: #000; 
  font-size: 18px; 
}
